.idea
pkg
bin
out
src/github.com
*.pyc
*__pycache__
gosnmp_traps_python/py2
gosnmp_traps_python.so
_gosnmp_traps_python.so
gosnmp_traps_python.py
gopy
prebuilt
.cache
.pytest_cache
.vscode
build/
dist/
gosnmp_traps_python.egg-info/
.DS_Store
*VirtualEnv*